<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Developed By M Abdur Rokib Promy">
    <meta name="author" content="cosmic">
    <meta name="keywords" content="Bootstrap 3, Template, Theme, Responsive, Corporate, Business">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Sign in</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/flexslider.css"/>
    <link href="assets/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/animate.css">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>


      <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!--header start-->
    
    <% include ../dependencies/headDef %>
    
    
    
<!--header end-->

    <!--breadcrumbs start-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1><i class="fa fa-lock"></i> Register</h1>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start--><div class="registration-bg">
    <div class="container">
	<div id="cont"></div>
<% if(typeof error_message !== "undefined") { %> <%- error_message %><%} else {} %>
            <form class="form-signin wow fadeInUp" action="register" method="post">
                <h2 class="form-signin-heading">Register now</h2>
                <div class="login-wrap">
                    <p>Enter personal details</p>
                    <input type="text" class="form-control" placeholder="Surname" name="surname" required autofocus="">
					<input type="text" class="form-control" placeholder="First name" name="othernames" autofocus="">
                    <input type="text" class="form-control" placeholder="Address" name = "address" required autofocus="">
                    <input type="email" class="form-control" placeholder="Email" name="email" required autofocus="">
                    <div class="radios">
                        <label class="label_radio col-lg-6 col-sm-6" for="radio">
                            <input name="gender" id="radio-01" value="Male" type="radio" checked=""> Male
                        </label>
                        <label class="label_radio col-lg-6 col-sm-6" for="radio">
                            <input name="gender" id="radio-02" value="Female" type="radio"> Female
                        </label>
                    </div>

                    <p> Enter account details below</p>
                    <input type="text" class="form-control" placeholder="User Name" autofocus="" name="username">
                    <input type="password" required class="form-control" placeholder="Password" name="pass1">
                    <input type="password" required class="form-control" placeholder="Re-type Password" name = "pass2">
                    <label class="checkbox">
                        <input type="checkbox" name="agree" value="agree"> I agree to the Terms of Service and Privacy Policy
                    </label>
                    <button class="btn btn-lg btn-login btn-block" type="submit">Submit</button>
                    <p>or you can sign up via social network</p>
                <div class="login-social-link">
                    <a href="index" class="facebook">
                        <i class="fa fa-facebook"></i>
                        Facebook
                    </a>
                    <a href="index" class="twitter">
                        <i class="fa fa-twitter"></i>
                        Twitter
                    </a>
                </div>

                    <div class="registration">
                        Already Registered ?
                        <a class="" href="login">
                            Login
                        </a>
                    </div>
                </div>
            </form>

        </div>
     </div>
    <p>
      <!--container end-->
      
      <!--footer start-->
      <% include ../dependencies/footer %>
      <!-- footer end -->
      <!--small footer start -->
    
    
    
    
    
    
  <!--small footer end-->
      
      <!-- js placed at the end of the document so the pages load faster -->
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/hover-dropdown.js"></script>
      <script defer src="js/jquery.flexslider.js"></script>
      <script type="text/javascript" src="assets/bxslider/jquery.bxslider.js"></script>
      
      <script src="js/jquery.easing.min.js"></script>
      <script src="js/link-hover.js"></script>
      
      
      <!--common script for all pages-->
      <script src="js/common-scripts.js"></script>
      
      
      <script src="js/wow.min.js"></script>
</p>
    <script>
        wow = new WOW(
          {
            boxClass:     'wow',      // default
            animateClass: 'animated', // default
            offset:       0          // default
          }
        )
        wow.init();
     </script>
  </body>
</html>
