<header class="head-section">
      <div class="navbar navbar-default navbar-static-top container">
          <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"
              type="button"><span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span></button> <a class="navbar-brand" href="index" style="padding-top:0px;"><img src="img/logo.fw.png" style="height:70px; width:auto" /></a>
          </div>

          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="index">Home <i class="fa fa-home"></i>
                      </a>
                  </li>

                  <li class="dropdown">
                      <a  href="/dashboard">Dashboard <i class="fa fa-dashboard"></i>
                      </a>
                  </li>

                  <li class="dropdown">
                      <a href="/settings">Settings <i class="fa fa-gears"></i>
                      </a>
                  </li>

                  <li class="dropdown">
                      <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover=
                      "dropdown" data-toggle="dropdown" href="#">User <i class="fa fa-user"></i>
                      </a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="destroy">Sign out <i class="fa fa-sign-out"></i></a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="about">About <i class="fa fa-question"></i></a>
                  </li>

                  <li><form name="search" method="post" action="search"><input name="q" class="form-control search" placeholder=" Search" type="text"></form></li>
              </ul>
          </div>
      </div>
    </header>